<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idonation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mensagens_enviadas"></activity>
        <activity android:name=".match" />
        <activity
            android:name=".doacoes_de_interesse"
            android:label="qualquer"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Outros" />
        <activity android:name=".home1_doador" />
        <activity android:name=".publicacoesMatchOng" />
        <activity android:name=".Home1Ongs" />
        <activity android:name=".Configuracoes" />
        <activity android:name=".TipoDoacao" />
        <activity android:name=".CadOngPartUm" />
        <activity android:name=".login_ong" />
        <activity android:name=".login_cnpj" />
        <activity android:name=".LoginCpfActivity" />
        <activity android:name=".cadastroDoadorPJ" />
        <activity android:name=".cadastroDoador" />
        <activity android:name=".cad_doadro_pass1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>